/* Start Common CSS Style */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    display: inline;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
}

/* Start Common CSS Style */

/* Start Preloader Container Here */
#preloader_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    position: fixed;
    inset: 0;
    z-index: 15;
}

/* Start Preloader Container Here */

/* Start Nav Section here */
#navbar_section {
    margin-bottom: 50px;
}

#navbar_section.fixed {
    background-color: rgb(222, 219, 214);
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    animation: menu_fixed 1s ease-out;
}



@keyframes menu_fixed {
    0% {
        top: -150px;
    }

    100% {
        top: 0%
    }
}

#navbar_section .row {
    justify-content: space-between;
    align-items: center;
}

#navbar_section ul li a {
    padding: 15px 30px;
    background-color: bisque;
    margin: 5px;
}



/* Start Nav Section here */

/* iamge Galary Section CSS style here */
#image_galary .row {
    align-items: center;
    justify-content: space-between;

}

#image_galary img {
    margin: 10px;
    width: calc((100% / 4) - 10px);
    height: 250px;
}

/* iamge Galary Section CSS style here */


/* Start Preloader Section here */
#preloader_container .loaderbox_one {
    margin: 100px auto;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#preloader_container .inner_container {
    position: relative;
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#preloader_container .loader_item {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#preloader_container .loader_item:nth-child(2),
#preloader_container .loader_item:nth-child(4) {
    filter: hue-rotate(290deg);
    animation-delay: -1s;
}

#preloader_container .loader_item:nth-child(1)::before,
#preloader_container .loader_item:nth-child(2)::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background-color: yellow;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, .4));
    background-repeat: no-repeat;
    border-top-left-radius: 180px;
    border-bottom-left-radius: 180px;
}

.loader_item .span {
    background-color: rgb(18, 19, 18);
    position: absolute;
    left: 40px;
    top: 40px;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    z-index: 1;
}

.loader_item .italic {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%);
    box-shadow: 0 0 10px #00fff9,
        0 0 20px #00fff9,
        0 0 30px #00fff9,
        0 0 40px #00fff9,
        0 0 50px #00fff9,
        0 0 60px #00fff9,
        0 0 70px #00fff9,
        0 0 80px #00fff9,
        0 0 90px #00fff9,
        0 0 100px #00fff9,
        0 0 110px #00fff9,
        0 0 120px #00fff9
}

/* Start Preloader two */
#preloader_container .laoderbox_two {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

}

.laoderbox_two .loader_box {
    position: absolute;
    width: 1px;
    height: 70px;
    animation: round 2s infinite;

}

@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.laoderbox_two .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%);
}

.laoderbox_two .loader_box:nth-child(1) {
    animation-delay: -1.4s;
}

.laoderbox_two .loader_box:nth-child(2) {
    animation-delay: -1.2s;
}

.laoderbox_two .loader_box:nth-child(3) {
    animation-delay: -1s;
}

.laoderbox_two .loader_box:nth-child(4) {
    animation-delay: -0.8s;
}

.laoderbox_two .loader_box:nth-child(5) {
    animation-delay: -0.6s;
}

.laoderbox_two .loader_box:nth-child(6) {
    animation-delay: -0.4s;
}

.laoderbox_two .loader_box:nth-child(7) {
    animation-delay: -0.2s;
}

.laoderbox_two .loader_box:nth-child(1) .circle {
    background: #ffff00;
    box-shadow: 0 0 50px #ffff00;
}

.laoderbox_two .loader_box:nth-child(2) .circle {
    animation-delay: -1.2s;
    background: #76ff03;
    box-shadow: 0 0 50px #76ff03;
}

.laoderbox_two .loader_box:nth-child(3) .circle {
    animation-delay: -1s;
    background: #f06292;
    box-shadow: 0 0 50px #f06292;
}

.laoderbox_two .loader_box:nth-child(4) .circle {
    animation-delay: -0.8s;
    background: #4fc3f7;
    box-shadow: 0 0 50px #4fc3f7;
}

.laoderbox_two .loader_box:nth-child(5) .circle {
    animation-delay: -0.6s;
    background: #ba68c8;
    box-shadow: 0 0 50px #ba68c8;
}

.laoderbox_two .loader_box:nth-child(6) .circle {
    animation-delay: -0.4s;
    background: #f57300;
    box-shadow: 0 0 50px #f57300;
}

.laoderbox_two .loader_box:nth-child(7) .circle {
    animation-delay: -0.2s;
    background: #673ab7;
    box-shadow: 0 0 50px #673ab7;
}

/* Start Preloader two */

/* Start Preloader Section here */